<div *ngIf="user" class="card position-sticky shadow-sm">
    <div class="row header">
        <img src="https://avatars.dicebear.com/api/croodles-neutral/{{user.username}}.svg" alt=""
            class="profile-picture">
    </div>
    <div class="row card-body">
        <div class="title">
            <h4 class="card-title">{{user.firstname}} {{user.lastname}}</h4>
            <p class="card-text"><small class="text-muted">@{{user.username}}</small></p>
        </div>
        <div class="content">
            <p class="card-text"><i class="bi bi-calendar-check"></i>{{user.dateofbirth}}</p>
            <p class="card-text"><i class="bi bi-person"></i>{{user.job}}</p>
            <p class="card-text"><i class="bi bi-telephone"></i>{{user.phone}}</p>
            <p class="card-text"><i class="bi bi-envelope"></i>{{user.email}}</p>
        </div>
    </div>
</div>