.orders {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 300px;
}

.orders li {
  display: flex;
  height: 100px;
}

.orders button {
  flex: 1;
  cursor: pointer;
  background-color: white;
  margin: .5em;
  border-radius: 4px;
  display: flex;
  align-items: center;
  border: none;
}

.orders button:hover {
  color: #2c3a41;
  background-color: #e6e6e6;
  left: .1em;
}

.orders button:active {
  background-color: #525252;
  color: #fafafa;
}

.orders button.selected {
  background: linear-gradient(102.7deg, rgb(253, 218, 255) 8.2%, rgb(223, 173, 252) 19.6%, rgb(173, 205, 252) 36.8%, rgb(173, 252, 244) 73.2%, rgb(202, 248, 208) 90.9%);
}

.orders button.selected:hover {
  background-color: #505050;
}

.orders button.selected:active {
  background-color: black;
}

.orders .order_info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.orders .order_info span {
  font-weight: bold;
}

.orders .order_info small {
  color: #505050;
}

img {
  margin-left: 15px;
  margin-right: 40px;
  height: 50px;
  width: 50px;
  border-radius: 45px;
}
