<div class="container" style="margin-top: 5rem; margin-left: 30px;">
    <h2>Orders :</h2>
    <div class="row">
        <div class="col-4">
            <ul class="orders">
                <li *ngFor="let order of orders">
                    <button type="button" (click)="onSelect(order)" [class.selected]="order===selectedOrder">
                        <img src="../../assets/wicker-basket.png" alt="">
                        <div class="order_info">
                            <span>Order #{{order.order_number}}</span>
                            <small>{{order.date}}</small>
                            <small>{{order.total_price}}€</small>
                        </div>
                    </button>
                </li>
            </ul>
        </div>
        <div class="col-8">
            <app-order-box [order]="selectedOrder"></app-order-box>
        </div>
    </div>
</div>