<div *ngIf="product" class="card position-sticky" style="top: 5rem; width: 600px;">
    <div class="row g-0 shadow-sm">
        <div class="col-md-5">
            <img src="http://source.unsplash.com/1200x700/?{{product.name}}" alt="" class="img-fluid rounded-start"
                style="width: 100%; height:100%; object-fit:cover;">
        </div>
        <div class="col-md-7">
            <div class="card-body">
                <h4 class="card-title">{{product.name}}</h4>
                <br>
                <p class="card-text">{{product.description}}</p>
                <br>
                <div class="d-flex justify-content-between card-text" style="align-items: baseline;">
                    <p class=""><small class="text-muted">Weight : {{product.weight}}g</small></p>
                    <p class="" style="font-family: 'Fjalla One', sans-serif;font-size:20px;">{{product.price}}€</p>
                </div>
            </div>
        </div>
    </div>
</div>