<div class="container" style="margin-top: 10vh; width: 40vw">
    <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="mb-3">
        <h1>Contact Form</h1>
        </div>
        <div class="mb-3">
            <label class="form-label" for="email">Email</label>
            <input class="form-control" type="email" id="email" name="email" formControlName="email">
        </div>
        <div class="mb-3">
            <label class="form-label" for="message">Message</label>
            <textarea class="form-control" name="message" id="message" formControlName="message"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!contactForm.valid">Send Message</button>
    </form>
</div>